<div id="sidebar" class="sidebar">
  <div class="sidebarbox">
    <h3>
      <a href="https://cawm.lib.uiowa.edu/tiles.json" target="_blank">TileJSON</a>
      <span class="sep"></span>
      <a href="https://cawm.lib.uiowa.edu/wmts" target="_blank">WMTS</a>
      <span class="sep"></span>
      <a id="btn-xyz">XYZ</a>
    </h3>
    <input id="input-xyz" type="text" value="https://cawm.lib.uiowa.edu/tiles/{z}/{x}/{y}.png" class="form-control">
  </div>
  <div class="btn-group" role="group" aria-label="Sidebar navigation buttons">
    <button id="btn-web" class="btn btn-light">Web</button>
    <button id="btn-desktop" class="btn btn-light active">Desktop</button>
    <button id="btn-mobile" class="btn btn-light">Mobile</button>
    <button id="btn-edit" class="btn btn-light">Edit</button>
  </div>
  <!-- El contenido de los tabs lo dejaría para componentes separados -->
</div>
