.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 0.75rem;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #3e66e9;
}

.logo-header{
  width: 80px;
}
