.closed{
    width:0;
    overflow: hidden;
    transition: width 2s ease;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
}

.tab-pane{
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #333;
    transition: width 2s ease;
}

.opened{
    width: 300px;
    transition: width 2s ease;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
}

.tab-pane h2 {
    font-weight: bold;
    font-size: 18px;
    color: #175d93;
    margin:20px 0;
}

.tab-pane .btn {
    margin-bottom: 15px;
    color: #fff;
    background-color: #175d93;
    border-color: #175d93;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
