body, html, #container {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #container {
    display: flex;
    height: 100vh;
  }
  
  #sidebar {
    width: 30%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 0px 15px 0px 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  
  #map-container {
    flex-grow: 1;
    height: 100%;
  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  

/* Combobox */
#autocomplete-container {
    position: relative;
  }
  
  #autocomplete-results {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: white;
    z-index: 1;
    display: none;
  }
  
  .autocomplete-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }

/* Calendar */
.group {
    position: relative;
    margin: 30px 20px 50px;
}

input {
    color: #424242;
    font-size: 1.2em;
    padding: 10px 10px 5px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #607D8B;
}
input:focus {
    outline: none;
}

label.input-label {
    color: #616161;
    position: absolute;
}

input:focus ~ label.input-label {
    color: #0288D1;
}

input[readonly] ~ label.input-label {
    top: -15px;
    font-size: 0.9em;
}

.bar {
    position: relative;
    display: block;
    width: 315px;
}

.bar:before,
.bar:after {
    background: #0288D1;
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}


/* Estilos específicos para los combobox */
.custom-select {
    color: #424242;
    font-size: 1.2em;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #607D8B;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:focus {
    border-bottom: 2px solid #0288D1;
}

.custom-select:disabled {
    color: #ccc;
    border-bottom: 1px solid #ccc;
}

.custom-select ~ .input-label {
    color: #616161;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: 0.2s ease all;
}

.custom-select:focus ~ .input-label {
    top: -15px;
    left: 5px;
    font-size: 0.9em;
    color: #0288D1;
}

/* Draw styles */
.drawContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawButtons {
    width: 220px;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}

.drawButton {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 50px;
    height: 50px;
    background-color: #dadada;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}

#drawRectangle {
    background-image: url("img/rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

#drawCircle {
    background-image: url("img/dot.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

#drawPolygon {
    background-image: url("img/polygon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#drawClear {
    background-image: url("img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F45050;
    background-size: 20px;
}
