#map {
  height: 100%;
  width: 100%;
}

#map-container {
  height: 80vh;
  width: 100%;
  position: relative; /* esto es necesario para que #map y .leaflet-container puedan utilizar la altura y ancho al 100% */
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
