<div id="map" class="map">
    <!-- Widget ICON ListLayer -->
    <div class="toolDiv toolIcon toolBasemap" placement="bottom" (click)="onClickWidgetOpen('Widget_ListLayer')">
        <img class="widgetIcon" [src]="imageLayers">
    </div>
    <!-- Widget ICON Basemap -->
    <div class="toolDiv toolIcon toolListlayer" placement="bottom">
        <img class="widgetIcon" [src]="imageBasemap">
    </div>
</div>

<!-- Logo -->
<div class="toolDiv toolLogo">
    <div style="width: 265px;">
        <a target="_blank" href="{{urlTidop}}">
            <img [src]="imageTidop">
        </a>
    </div>
</div>
